@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primaryColor: #59aa47;
  --secondaryColor: #8b8e8f;
  --bgColorPrimary: #59aa47;
  --bgColorSecondary: #5c5856;
  --whiteColor: #fff;

}

.blogWrap {
  float: left;
  width: 100%;
  /* margin: 5.6em 0 0 0; */
}
.blogBgWrap {
  position: relative;
  /* float: left; */
  width: 100%;
}
.bgImgWrap img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}
.bgImgWrap .container {
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 100%;
}

.bgImgWrap h2 {
  /* top: 1em; */
  margin: 36px 0 12px;
  color: #fff;
  font-size: 35px;
  /* font-weight: bold; */
  font-family: "Josefin Sans Regular", sans-serif;
}
.blog-block01 {
  float: left;
  width: 100%;
  padding: 3em 0;
}
.fabric-bg-sx {
  background-color: #f4f6fe;
}
.fabric-squares-patten-img-sx {
  background-image: url("../public/Images/fabric_squares_patten.png");
  background-repeat: repeat;
}
.boxSx {
  margin: 25px 0;
  float: left;
  width: 100%;
}
.blog-block01 article .blockSx {
  float: left;
  width: 100%;
  background: #fff;
  margin: 25px 0 0 0;
}
.blog-block01 article .blockSx img {
  width: 100%;
  height: 299px;
  background-size: cover;
}
.blog-block01 article .blockSx .blockInfoSx {
  float: left;
  width: 100%;
  padding: 15px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.21);
}
.blog-block01 article .blockSx .blockInfoSx h2 {
  color: #22c1e6;
  font-size: 22px;
  /* font-weight: bold; */
  margin: 0 0 10px 0;
  font-family: "Josefin Sans Regular";
}
.blog-block01 article .blockSx .blockInfoSx a {
  color: #22c1e6;
  text-align: center;
  /* float: left; */
  font-size: 17px;
  font-family: "Josefin Sans Regular";
  text-decoration: none;
}
.blog-block01 article .blockSx .blockInfoSx a:hover {
  color: #43484e;
}
.blog-block01 article .boxSx p {
  color: #171717;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 24px;
  font-family: "Josefin Sans";
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .bgImgWrap .container {
    left: 3%;
  }
  .bgImgWrap h2 {
    font-size: 25px;
    margin: 24px 0 8px;
  }
}

@media only screen and (max-width: 480px) {
  .bgImgWrap .container {
    left: 0;
  }
  .bgImgWrap h2 {
    font-size: 20px;
    margin: 12px 0 4px;
  }
  .centr-sx {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
