@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primaryColor: #59aa47;
  --secondaryColor: #8b8e8f;
  --bgColorPrimary: #59aa47;
  --bgColorSecondary: #5c5856;
  --whiteColor: #fff;
  --font-familySan: "Josefin Sans Regular", sans-serif;
  --font-family: "Josefin Sans Regular";
}

p {
  color: var(--whiteColor);
}
.next {
  color: rgb(28, 29, 29);
  font-weight: 500;
  font-family: "Inter"; /* Use Inter font family with fallback to sans-serif */
  font-size: 30px;
}
* {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
  /* font-family: "Roboto Flex", sans-serif;
  font-family: "Public Sans", sans-serif; */
}

/* Header Styles */
.headermain {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;

  z-index: 10;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.headermain .brandLogo a img {
  background-color: transparent;
}

.imgclss {
  height: 70;
  width: 350;
}
.drawerToggle {
  color: #fff;
  font-weight: 700;
  margin: 5px 0 0 0px;
  font-size: 1.4em;
  background: #3ebae8;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.threeBars {
  cursor: pointer;
}
.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  /* width: 395px; */
  height: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  background: #212121;
  transition: right 0.3s ease;
  z-index: 1000;
  transition: transform 0.3s;
}

.drawer.open {
  right: 0;
}
.titlehd {
}
.drawerContent {
  display: block;
  text-decoration: none;

  border-bottom: 1px solid #ccc;
  color: var(--whiteColor);
}

.drawerContent a:hover {
  background-color: #616161;
}

.sidenav-link-icon {
  color: #757575;
  display: flex;

  height: 24px;

  width: 24px;
}

.sidenav-privacy-icon {
  padding: 0 10px 0 8px;
}

.sidenav-privacy-title {
  padding: 0 10px 0 23px;
}
.sidenav-link-title {
  padding: 0 10px 0 30px;
}
.crossbtn {
  cursor: pointer;
}

.sidenav-brand {
  background: #22c1e6;
  padding: 32px;
  border-bottom: 1px solid #d6d6d6;
  color: #fafafa;
  font-size: 20px;
  font-weight: bold;
}
.sidenav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenav-menu a {
  background: transparent;
  color: #bdbdbd;
  display: block;
  line-height: 24px;
  padding: 16px 32px;
  text-decoration: none;
}
.sidenav-menu a {
  background: transparent;
  color: #bdbdbd;
  display: block;
  line-height: 24px;
  padding: 16px 32px;
  text-decoration: none;
}
/* Responsive Header Styles */

/* footer style*/

.footer-top {
  float: left;
  width: 100%;
  background: #151516;

  padding: 3em 0 2em;
}
.footer-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-blk {
  float: left;
  width: 100%;
}

#footer ul {
  text-decoration: none !important;
}
.footer-blk h2 ul li a {
  text-decoration: none !important;
  color: #59aa47;
}
.menu-item {
  padding: 2px 0;
  text-decoration: none !important;
  color: white; /* Set the color to white */
  list-style-type: none; /* Remove the default bullet points */
}
a {
  text-decoration: none !important;
  color: var(--whiteColor);
}
#footer ul li {
  font-family: var(--font-family);
  padding: 2px 0;
  font-size: 12px;
  text-decoration: none !important;
  color: white; /* Set the color to white */
  list-style-type: none; /* Remove the default bullet points */
}

#footer ul li::before {
  content: ""; /* Empty content */
  display: inline-block;
  width: 12px; /* Diameter of the circle */
  height: 12px; /* Diameter of the circle */
  border: 2px solid #d6d6d6; /* Color of the circle */
  border-radius: 50%; /* To make a circle */
  margin-right: 10px; /* Adjust spacing between circle and text */
}

.form-group {
  margin-bottom: 15px;
}
#footer .footer-top .footer-blk .form-control {
  background: #4c4c4d;
  border: none;
  border-radius: 0px;
}
.form-control::placeholder {
  color: #999; /* Placeholder text color */
  font-weight: 400; /* Placeholder font weight */
}
#footer .footer-btn {
  float: left;
  width: 100%;
  background: #000000;
  padding: 1em 0;
}
.icon-style {
  width: 30px;
  height: 30px;
  background-color: #252526;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  margin: 0 10px;
  padding: 5px;
}
#footer .footer-btn ul li {
  display: inline-block;
}
#footer .footer-btm ul li a {
  color: #9b9e9f;
}

.footerh2 {
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px 0;
  font-family: var(--font-family);
}

.copy {
  color: rgb(157, 157, 157);
  font-size: 17px;
  font-family: var(--font-family);
}

@media (max-width: 767px) {
  #footer .footer-top .footer-blk .footerh2 {
    margin: 0 0 16px 0;
  }
  .txt-cntr {
    text-align: center;
  }
  .icon-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
  }

  .footer-container {
    background-color: #000000;
  }
}
@media screen and (max-width: 400px) {
  .imgclss {
    height: 40px;
    width: 190px;
  }
  .copy {
    color: var(--whiteColor);
    font-size: 15px;
    font-family: var(--font-family);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .copy {
    font-size: 18px !important;
  }
}
