@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primaryColor: #59aa47;
  --secondaryColor: #8b8e8f;
  --bgColorPrimary: #59aa47;
  --bgColorSecondary: #58585a;
  --blueColor:#3ebae8;
  --bgColorInfo:#4fc6ed;
  --bgColorInfosec:#428bca;
  --whiteColor: #fff;
  --font-family: "Josefin Sans";
    --font-familysan: "Josefin Sans Regular";
}
/* ------section1--------- */

  .carosalhome{
  display:block;
}
.carouselcontainer {
  position: relative;

}

.carousel-item-content {
  position: relative;
 
  display: flex; ;
  justify-content: start;
  align-items: center;
  
 
}


.custom-carousel-button {
  border: none;
  outline: none;
  background-color: #2b2b2b;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 
}

.custom-carousel-button.prev {
  left:0;
  transform: translate(-50%, -50%); /* Center horizontally */
}

.custom-carousel-button.next {
  right: 0;
  transform: translate(50%, -50%); /* Center horizontally */
}
.custom-carousel-button i {
  color: white;

}
.custom-carousel-button:hover {
  background-color:var(--bgColorInfo);
}
.titile{
  font-size: 36px;
  line-height: 1em;
  font-weight: bold;
font-family: var(--font-family);
margin-bottom: 17px;
}
.txt{
  font-size:21px;
  font-weight: normal;
  margin-bottom: 24px;
  font-family: var(--font-family);
  

}
.btn {
  display: inline-block;
 
  margin-bottom: 0;
  
  font-weight: normal;
  
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
 
  user-select: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
  background-color:var(--bgColorInfo);
  border-color:var(--bgColorInfo);
  font-family: var(--font-family);

}
.btn-lg:hover{
  background-color:var(--bgColorInfosec)
}
/* .progressBar {
  height: 10px;
  background-color: #59aa47;
}

.bar {
  border-radius: 5px;
} */


.carouseltitle{
  left: 90px;
  position:absolute;
  top:50px;
   
}
/* ------section2--------- */
.sectiontwo{

    padding: 3em 0;
    background-color: var(--whiteColor);

}
.sectiontittle{
    font-size: 22px;
      font-weight: 700;
      margin: 36px 0 12px;
      font-family: var(--font-family);
    }
/* ------section3--------- */


/* Add your CSS styles here */
/* Example styles for the section */
.sectionthree {
  padding-top: 60px;
  padding-bottom: 60px;;
  background-color: #3ebae8;
  
}
.dark-img {
  background-image:url("../public/Images/asfalt_dark_patten.png");
background-repeat:repeat;
background-size: cover;
background-position: center;
}

.backgrd {
  background-color: #f4f4f4;
  
}
.sectionthree .heading {
  float: left;
  width: 100%;
  font-weight: bold;
  color:var(--bgColorSecondary);
  
}

.headingtittle {
  font-size: 33px;
  margin-bottom: 30px;
  color:var(--bgColorSecondary);
  font-weight: bold;
  font-family: var(--font-family);

 
}

.hd-borde {

    float: left;
    width: 100%;
    position: relative;
    margin:0 0 1em 0;

}
.hd-borde:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #c7c7c7;
}
.hd-borde:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  background: #f9f9f9;
}





.media.box {
  display: flex;
  align-items: start; 
    margin: 25px 0px;


}

.pull-left {
  display: flex;
  flex-direction: row;
  margin-bottom:5px ;

 
}

.pull-left i {
  font-size: 22px;
  color: var(--blueColor);
  margin-right: 10px;
}

.media-heading {
  margin: 0 0 10px 0;
    color: #58585a;
  font-size: 20px;
  /* font-weight: bold; */
  line-height: 1em;
  text-align: start;
  font-family: var(--font-family);
}

.txttittle {
  color: #171717;
  font-size: 20px;
  line-height: 20px;
  margin: 0; /* Remove default margin for paragraphs */
  text-align: start;
  font-family: var(--font-family);
  }
/* ------section4------ */

.secfour{
  padding: 3em 0;
}
/* FourBoxComponent.css */

.img-responsive {
  background-image: url("../public/Images/mob_bg.png");
  background-position: top center;
  background-size: contain;
  background-clip: content-box;
  background-repeat: no-repeat;
  width: 100%; /* Make the background image responsive */
  height: 500px; /* Ensure aspect ratio is maintained */
  position: relative; /* Ensure relative positioning */
  z-index:9;
}

.innerimg {
  width:179px; /* Make the inner image responsive */
  height: 320px; /* Ensure aspect ratio is maintained */
  position: absolute; /* Position the inner image absolutely */
  top: 43%; /* Center vertically */
  left: 53%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Centering trick */
  
 
}


.orderlist{
  margin-top: 30px;
}

.activelist {
  width: 100%;
  height: auto; /* Adjust height as needed */
  margin-bottom: 15px;
  position: relative;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  list-style-type: none; /* Remove default list item marker */

}

.activelist .list-item-content {
  display: flex; /* Use flexbox layout */

}

.activelist .list-item-content span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
  border: 2px solid var(--bgColorInfo); /* Border color */
  border-radius: 50%; /* Make it round */
  margin-right: 20px; /* Adjust margin as needed */
  font-weight: bold;
  color: var(--bgColorInfo); /* Text color */
  padding: 15px;
  transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

.activelist .list-item-content span:hover {
  background-color: var(--bgColorInfo); /* Change background color on hover */
  color:var(--whiteColor); /* Change text color on hover */
}

.activelist .list-item-content div {
  flex-grow: 1; /* Allow the content to grow to fill the available space */
}
.secfourmob{
  padding: 3em 0;
}

.mobrow {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.activelist,
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-headingmob {
  margin:30px 0 20px 0;
    color: #58585a;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  font-family: var(--font-family);
}
.txttittlemob{
 
    color: #171717;
    font-size: 20px;
    line-height: 20px;
    margin-top:10px; /* Remove default margin for paragraphs */
    text-align: center;
    font-family: var(--font-family);
    
}
@media screen and (min-width: 992px) {
  .secfourmob{
    visibility: hidden;
  }
}
@media screen and (max-width: 767px) {

.secfour{
  visibility: hidden;
}
}
/* -----section5-------- */

.sectionfive {
  padding: 50px 0;
}

.drk-bg {
  background-color: #000; /* Change to your desired dark background color */
}

.climpek-pattern {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clrwhite {
  color: var(--whiteColor);
  font-size: 33px;
  font-weight: bold;
  font-family: var(--font-family);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.qrcode-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.qrcode-wrap:before,
.qrcode-wrap:after {
  content: "";
  display: block;
  width: 2px;
  height: 150px;
  position: absolute;
  left: 49%;
  background-color: #FFF;
}

.qrcode-wrap:before {
  top: 0;
}

.qrcode-wrap:after {
  content: "or";
  width: 33px;
  height: 33px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1.000em;
  text-align: center;
  line-height: 33px;
  position: absolute;
  left: 49%;
  cursor: pointer;
  margin-top: -16px;
  margin-left: -16px;
  color: #000;
}

.qrcode img {
  width: 120px;
  height: 120px;
}

.qrcode span {
  float: left;
  font-weight: bold;
  color: var(--whiteColor);
  font-size: 20px;
  margin: 0 0 10px 0;
  font-family: var(--font-family);
}

.app-btn {
  float: left;
  width: 157px;
  margin: 23px 0 0 0;
}

.app-btn .appimg {
  border: solid 1px #fff;
  display: block;
  border-radius: 5px;
  width: 150px;
  height: 54px;
  margin-bottom: 10px !important;
  text-decoration: none;
}

.app-btn img {
  width: 150px; /* Adjust width as needed */
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 767px) {
  .sectionfive {
    padding: 20px 0;
  }
  .qrcode-wrap:before,
  .qrcode-wrap:after {
  margin-top:0 ;
   
  }

  .qrcode-wrap:before {
    top: -75px; /* Adjust position as needed */
    height: 75px; /* Adjust height as needed */
  }

  .qrcode-wrap:after {
    top: 75px; /* Adjust position as needed */
    margin-left: -16px;
  }

  .qrcode-wrap {
    flex-direction: column; /* Stack as column on mobile */
    align-items: center;
  }

  .app-btn {
    margin-top: 20px; /* Adjust margin as needed */
  }
  .qrcode img {
    width: 100px;
    height: 100px;
  }
}



@media (max-width: 767px) {
  .carouseltitle{
    left: 5px;
    top:15px;
  }
  .titile{
    font-size: 20px;
    line-height: 20px;
  
  }
  .custom-carousel-button {
    visibility: hidden;
  }
  .qrcode-wrap:before {
visibility: hidden;
}
}
/* Media query for medium devices (e.g., tablets) */
@media (min-width: 576px) and (max-width: 768px) {
 
}

/* Media query for large devices (e.g., desktops) */
@media (min-width: 992px) {
 
}

/* -------Contactus---------- */

@media (min-width: 448px) {
  .mac-mini-content-hidden {
    display: none;
  }
  .videoss {
    display: none;
  }
}
@media (max-width: 448px) {
  .mac-mini-pro {
    display: none;
  }
  ._02vci {
    display: none;
  }
  .hiddensmall {
    display: none !important;
  }
}
.mac-mini-content {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.computer {
  width: 100%;
  height: 100%;
}

.youtube-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 90%;
  top: 10px;
  left: 70px;
}

/* For the hidden video on larger screens */
.mac-mini-content-hidden {
  width: 100%;
  height: 100%;
}

/* Responsive styling for the iframe */
iframe {
  width: 100%;
  height: 100%;
}

/* Additional styles for the text and heading */
._02vci h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.boxyy {
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
}

._02vc p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.videoR {
  margin-top: 80px;
  padding-bottom: 50px;
}

.formcentre {
  flex-direction: row;
  background-color: white;
  width: 90%;
  padding-bottom: 10px;
  color: rgb(30, 213, 167);
  z-index: 999;
  position: absolute;
  left: 5%;
  /* bottom: 15%; */
  top: 25%;
}

/* Optional: Add margin to the top of each h2 element for spacing */
.formcentre h2 {
  margin-top: 10px;
  margin: 20px;
}
.textviewrow {
  display: flex;
  flex-direction: row;
}
.headingForm {
  padding: 50px;
  color: #7c43bd;
  font-size: 25px;
  /* font-family: sans-serif; */
  font-weight: 500;
}
.headingFormtext {
  color: #7c43bd;
  font-size: 25px;
  /* font-family: sans-serif; */
  font-weight: 500;
}
.headingFormtextxx {
  color: #242324;
  font-size: 15px;
  /* font-family: sans-serif; */
  font-weight: 300;
}

.imageText {
}
.textareaPro {
  width: 100%;
  background-color: #7c43bd;
}
.buttoncolorr {
  background-color: #7c43bd;
}
.buttonsubmit {
  height: 40px;
}
.headingFormtextSubmit {
  color: white;
  font-size: 18px;
  /* font-family: sans-serif; */
  font-weight: 500;
}

.input-styled::placeholder {
  font-size: 15px;
  color: #999;
  font-family: sans-serif;
  padding-left: 5px;
}

/* Optionally, you can style the input as well */
.input-styled {
  border: 1px solid #ccc;
  font-size: 12px;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  /* Add any other styles you need for the input */
}
.input-styledtext {
  font-size: 15px;
  color: #999;
  font-family: sans-serif;
  padding-left: 5px;
  padding-top: 10px;
  border-radius: 5px;
}
.input-styledtext {
  border: 1px solid #ccc;
  height: 100px;
  color: #121111;
  font-size: 15px;
  /* Add any other styles you need for the input */
}
.mappingcenter {
  overflow-y: auto; /* Add vertical scrollbar if needed */
  max-height: 400px;
}
.fullstyle {
  padding-bottom: 50px;
  background-color: #1093c3;
}
.map-container-2 {
  overflow: hidden;
  padding-bottom: 60.25%;
  position: relative;

  width: 100%;
  /* background-color: #bd6e43; */
}
.map-container-2 iframe {
  left: 0;
  top: 0;
  height: 50%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 984px) {
  .tvm {
    flex-direction: row;
    justify-content: space-between;
  }
  .formcentre {
    flex-direction: row;
    background-color: white;
    width: 85%;

    z-index: 999;
    position: absolute;
    left: 8%;
    /* bottom: 15%; */
    top: 15%;
  }

  /* Optional: Add margin to the top of each h2 element for spacing */
  .formcentre h2 {
    margin-top: 10px;
    margin: 20px;
  }
  .textviewrow {
    display: flex;
    flex-direction: row;
  }
  .headingForm {
    padding: 50px;
    color: #7c43bd;
    font-size: 25px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }
  .headingFormtext {
    color: #7c43bd;
    font-size: 25px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }
  .headingFormtextxx {
    color: #242324;
    font-size: 15px;
    /* font-family: sans-serif; */
    font-weight: 300;
  }

  .imageText {
  }
  .textareaPro {
    width: 100%;
    background-color: #7c43bd;
  }
  .buttonsubmit {
    height: 40px;
  }
  .headingFormtextSubmit {
    color: white;
    font-size: 18px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }

  .input-styled::placeholder {
    font-size: 15px;
    color: #999;
    font-family: sans-serif;
    padding-left: 5px;
  }

  /* Optionally, you can style the input as well */
  .input-styled {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding-left: 5px;
    /* Add any other styles you need for the input */
  }
  .input-styledtext {
    font-size: 15px;
    color: #999;
    font-family: sans-serif;
    padding-left: 5px;
    padding-top: 10px;
  }
  .input-styledtext {
    border: 1px solid #ccc;
    height: 110px;
    color: #121111;
    font-size: 15px;
    /* Add any other styles you need for the input */
  }
  .mappingcenter {
    overflow-y: auto; /* Add vertical scrollbar if needed */
    max-height: 400px;
  }
  .fullstyle {
    padding-bottom: 50px;
    background-color: #1093c3;
  }
  .map-container-2 {
    overflow: hidden;
    padding-bottom: 80.25%;
    position: relative;

    width: 100%;
    background-color: #bd6e43;
  }
  .map-container-2 iframe {
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    position: absolute;
  }
}

@media screen and (max-width: 710px) {
  .tvm {
    flex-direction: row;
    justify-content: space-between;
  }
  .formcentre {
    flex-direction: row;
    background-color: white;
    width: 95%;

    z-index: 999;
    position: absolute;
    left: 3%;
    /* bottom: 15%; */
    top: 15%;
  }

  /* Optional: Add margin to the top of each h2 element for spacing */
  .formcentre h2 {
    margin-top: 10px;
    margin: 20px;
  }
  .textviewrow {
    display: flex;
    flex-direction: row;
  }
  .headingForm {
    padding: 50px;
    color: #7c43bd;
    font-size: 25px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }
  .headingFormtext {
    color: #7c43bd;
    font-size: 25px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }
  .headingFormtextxx {
    color: #242324;
    font-size: 15px;
    /* font-family: sans-serif; */
    font-weight: 300;
  }

  .imageText {
  }
  .textareaPro {
    width: 100%;
    background-color: #7c43bd;
  }
  .buttonsubmit {
    height: 40px;
  }
  .headingFormtextSubmit {
    color: white;
    font-size: 18px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }

  .input-styled::placeholder {
    font-size: 15px;
    color: #999;
    font-family: sans-serif;
    padding-left: 5px;
  }

  /* Optionally, you can style the input as well */
  .input-styled {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding-left: 5px;
    /* Add any other styles you need for the input */
  }
  .input-styledtext {
    font-size: 15px;
    color: #999;
    font-family: sans-serif;
    padding-left: 5px;
    padding-top: 10px;
  }
  .input-styledtext {
    border: 1px solid #ccc;
    height: 100px;
    color: #121111;
    font-size: 15px;
    /* Add any other styles you need for the input */
  }
  .mappingcenter {
    overflow-y: auto; /* Add vertical scrollbar if needed */
    max-height: 400px;
  }
  .fullstyle {
    padding-bottom: 50px;
    background-color: #1093c3;
  }
  .map-container-2 {
    overflow: hidden;
    padding-bottom: 100.25%;
    position: relative;

    width: 100%;
    background-color: #bd6e43;
  }
  .map-container-2 iframe {
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    position: absolute;
  }
}

@media screen and (max-width: 655px) {
  /* .map-container {
    display: none;
  } */
  .tvm {
    flex-direction: row;
    justify-content: space-between;
  }
  .formcentre {
    flex-direction: row;
    background-color: rgb(222, 76, 76);
    width: 95%;
  }

  /* Optional: Add margin to the top of each h2 element for spacing */
  .formcentre h2 {
    margin-top: 10px;
    margin: 20px;
  }
  .textviewrow {
    display: flex;
    flex-direction: row;
  }
  .headingForm {
    padding: 50px;
    color: #7c43bd;
    font-size: 25px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }
  .headingFormtext {
    color: #7c43bd;
    font-size: 25px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }
  .headingFormtextxx {
    color: #242324;
    font-size: 15px;
    /* font-family: sans-serif; */
    font-weight: 300;
  }

  .imageText {
  }
  .textareaPro {
    width: 100%;
    background-color: #7c43bd;
  }
  .buttonsubmit {
    height: 40px;
  }
  .headingFormtextSubmit {
    color: white;
    font-size: 18px;
    /* font-family: sans-serif; */
    font-weight: 500;
  }

  .input-styled::placeholder {
    font-size: 15px;
    color: #999;
    font-family: sans-serif;
    padding-left: 5px;
  }

  /* Optionally, you can style the input as well */
  .input-styled {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding-left: 5px;
    /* Add any other styles you need for the input */
  }
  .input-styledtext {
    font-size: 15px;
    color: #999;
    font-family: sans-serif;
    padding-left: 5px;
    padding-top: 10px;
  }
  .input-styledtext {
    border: 1px solid #ccc;
    height: 100px;
    color: #121111;
    font-size: 15px;
    /* Add any other styles you need for the input */
  }
  .mappingcenter {
    overflow-y: auto; /* Add vertical scrollbar if needed */
    max-height: 400px;
  }
  .fullstyle {
    padding-bottom: 50px;
    background-color: #1093c3;
  }
  .map-container-2 {
    overflow: hidden;
    padding-bottom: 100.25%;
    position: relative;

    width: 100%;
    background-color: #bd6e43;
  }
  .map-container-2 iframe {
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    position: absolute;
  }
}
.nameer {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.wifthR {
  width: 175%;
}
.headingFormM {
  padding: 50px;
  color: #7c43bd;
  font-size: 25px;
  /* font-family: sans-serif; */
  font-weight: 500;
}

#_01cont_wrap {
  float: left;
  width: 100%;
  background: #fff;
  position: relative;
}

#_01cont_wrap iframe {
  float: left;
  width: 100%;
  min-height: 369px;
  display: block;
  position: relative;
}

#_01cont_wrap ._03_blk_info {
  float: left;
  width: 100%;
}

#_02cont_wrap {
  float: left;
  width: 100%;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #86377b;
  outline: 0;
  box-shadow: none;
}

/* .form-control {
  padding: 0.375rem 0;
  border-bottom: 1px solid #7c43bd;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
} */

#_01cont_wrap ._03colm_wrap ul li,
#_02cont_wrap ._03colm_wrap ul li {
  padding: 0 0 7px;
  display: flex;
}

#_01cont_wrap ._03colm_wrap ul li i,
#_02cont_wrap ._03colm_wrap ul li i {
  margin: 4px 13px 0 0;
  color: #7c43bd;
}

div.wpcf7 textarea {
  margin: 0 0 1em !important;
}

@media (min-width: 576px) {
  ._01mob_bg {
    background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

    /* background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0; */
  }

  ._03_bdrBtm {
    border-bottom: none;
    padding: 0 0 0 !important;
  }

  ._20pdng {
    padding: 0;
  }

  ._otr_white_colour {
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  #_01cont_wrap {
    min-height: 708px;
    position: relative;
    background: #86377b;
    background: -moz-linear-gradient(30deg, #86377b 20%, #27273c 80%);
    background: -webkit-linear-gradient(30deg, #86377b 20%, #27273c 80%);
    background: linear-gradient(30deg, #86377b 20%, #27273c 80%);
  }

  #_01cont_wrap ._03colm_wrap h4,
  #_02cont_wrap ._03colm_wrap h4 {
    color: #491c61;
  }

  #_02cont_wrap {
    float: left;
    width: 100%;
    min-height: 708px;
    position: relative;
    background: #86377b;
    background: -moz-linear-gradient(30deg, #86377b 20%, #27273c 80%);
    background: -webkit-linear-gradient(30deg, #86377b 20%, #27273c 80%);
    background: linear-gradient(30deg, #86377b 20%, #27273c 80%);
  }

  #_01cont_wrap iframe {
    float: left;
    width: 100%;
    min-height: 575px;
  }

  #_02cont_wrap iframe {
    float: left;
    width: 100%;
    min-height: 369px;
  }

  #_02cont_wrap ._03_blk_info {
    float: left;
    width: 100%;
    position: absolute;
    bottom: 9px;
  }

  ._03_blk_info ._03colm_wrap {
    padding: 0 65px 0 0;
  }

  #_01cont_wrap ._03colm_wrap ul li,
  #_02cont_wrap ._03colm_wrap ul li {
    padding: 0 0 7px;
    display: flex;
  }

  #_01cont_wrap ._03colm_wrap ul li i,
  #_02cont_wrap ._03colm_wrap ul li i {
    margin: 6px 13px 0 0;
    color: #7c43bd;
  }
}

@media (min-width: 992px) {
  #_01cont_wrap {
    min-height: 612px;
  }
}

@media (min-width: 1200px) {
  #_01cont_wrap {
    min-height: 828px;
  }
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.colourWhite {
  background-color: white;
}

.submitcolor {
  background-color: #7c43bd;
  margin-top: 10px;
  color: #fff;
}
._02_hd {
  border-bottom: none;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
._02_hd h2:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
._02_hd h2:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #d09a75;
}

.row-r {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.centrerr {
  background-color: #1093c3;
  flex-direction: row;
}
.customcanvas::placeholder {
  color: #999;
  padding-left: 1px;
}
.user-msg {
  margin-top: 5px;
  color: #fff;
}
